src/main/mule/practice-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="world-time-demo" doc:id="b82dfd16-fd42-4fdc-8f85-b30efa6f22ed" >
		<http:listener doc:name="Get /timezone" doc:id="92298c4c-ab9e-4db4-a87e-8c6e61a21c31" config-ref="HTTP_Listener_config" path="/timezone"/>
		<http:request method="GET" doc:name="Request" doc:id="8e8eac23-9a0e-4b9d-a37e-1527bb6fbba2" config-ref="HTTP_Request_configuration" path="/{regionName}/{cityName}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	cityName : attributes.queryParams.city,
	regionName : attributes.queryParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
